<h1>Fakebook Help</h1>
<p>This is a sample application to test out the principals learnt in The Odin Course on Ruby on Rails</p>
<p>You can create an account and add friends.</p>
<p>You will then be able to post status updates and see updates from people you have added as a friend</p>