<div class="widget">
  <div class="post-header">
    <table>
      <tr>
        <td><%= link_to "#{post.user.name} #{post.user.surname}", post.user %></td>
      </tr>
      <tr>
        <td class="time-ago"><%= time_ago_in_words post.created_at %> ago</td>
      </tr>
    </table>
  </div>
  <hr>
  <%= post.content %>
  <div class="widget-footer">
    
  </div>
</div>